
.bgimage{
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("image.png");
    object-fit: cover;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 110%;
    height: 110px;
    background-color: rgba(252, 1, 218, 0.1);
}
.leftmenu {
    background-image: url("fitness.jpeg.jpeg");
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparents;
}

.leftmenu h1{ 
    padding-left: 70px;
    font-weight: bold;
    color: rgb(150, 7, 85);
    font-size: 60px;
    font-family: 'e UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.leftmenu :hover{
    background-color: white;
    color: #9b1d1d;

}

.rightmenu{
    width: 60%;
    height: 100Px;
    float: right;
}
.rightmenu ul{
    margin-left: 200px;
}
.rightmenu ul li{
    display: inline-block;
    font-family: 'montserrat', sans-serif ;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.rightmenu ul li:hover{
    color: #00ccff;
}

.text{
    width: 100%;
    margin-top:185px ;
    text-transform: uppercase;
    text-align: center;
    color: white;

}
.text h4{
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}
.text h1{
    font-size: 62px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}
.btn{
    background-color: rgba(255,255,255, 0.164);
    color: white;
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 150px;
    margin-top: 25px;
    border: 3px solid white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}
